<div class="chart-comp" >
  <div class="button-groups">
    <button mat-raised-button color="warn" (click)="theme = undefined">
      default
    </button>
    <button mat-raised-button color="primary" (click)="theme = 'macarons'">
      pastel
    </button>
    <button mat-raised-button color="accent" (click)="theme = 'dark'">
      dark
    </button>
  </div>

  <div
    echarts
    [options]="options"
    [theme]="theme"
    class="custom-chart"
  ></div>

  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>The winner is :</mat-card-title>
      </mat-card-header>
      <p>{{ winner.date }} : {{ winner.name }}</p>
    </mat-card>
  </div>
</div>
