<div style="background-color: white; height: 100%; text-align: center">
  <mat-toolbar>
    <span style="margin-left: auto; margin-right: auto"
      >Croissant App &#9749;</span
    >
  </mat-toolbar>

  <mat-tab-group mat-align-tabs="center" style="color: black">
    <mat-tab label="Chart">
      <app-chart [loadedData]="data" [winner]="winner"></app-chart>
    </mat-tab>
    <mat-tab label="Next">
      <app-next [loadedData]="data"></app-next>
    </mat-tab>
  </mat-tab-group>
</div>

<style>
  ::ng-deep .mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: black;
    font-weight: 700;
  }
</style>