<div class="container">
  <mat-toolbar>
    <span>Croissant App &#9749;</span>
    <button
      mat-icon-button
      aria-label="Source code"
      onclick="window.location.href='https://github.com/BachirAmiri/croissant';"
    >
      <mat-icon>code</mat-icon>
    </button>
  </mat-toolbar>
<!--
  <mat-tab-group mat-align-tabs="center" style="color: black">
    <mat-tab label="Chart">
-->
      <app-chart [loadedData]="data" [winner]="winner"></app-chart>
<!--
    </mat-tab>
    <mat-tab label="Next">
      <app-next [loadedData]="data"></app-next>
    </mat-tab>
  </mat-tab-group>
-->
</div>
